/* borratzeko botoia */
.btn-delete {
    background-color: #e74c3c;
    color: white !important;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background 0.3s;
    display: inline-block;
}

.btn-delete:hover {
    background-color: #c0392b;
}

/* taula erdian agertzeko */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f7f6;
}